extends layout

block content
	h1= title
	form#formAddEmpl(name="rememp",method="post",action="rememp")
		input#inputFirstName(type="text", placeholder="firstname",name="firstname")
		button#btnSubmit(type="submit") submit