doctype html
html
	head
		title= title
		link(rel='stylesheet', href='/stylesheets/style.css')
	body
		table
			tr
				td
				//	a(href="/emplist") List
				td
				//	a(href="/newemp") Add
				td
				//	a(href="/delemp") Delete

				td
					a(href="/userList") User List
				td
				//	a(href="/newUser") Add User
				td
				//	a(href="/deleteUser") Delete User
				td
					a(href="/vehicleList") Vehicle List 
				td
				//	a(href="/newVehicle") Add Vehicle
				td
				//	a(href="/deleteVehicle") Delete Vehicle
				td
					a(href="/vuPairList") VUPair List
	block content
